asgiref==3.8.1
attrs==25.3.0
directory_tree==1.0.0
Django==3.2.24
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.26.3
drf-yasg==1.21.7
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lxml==5.3.1
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.0.1
python-pptx==1.0.2
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.23.1
setuptools==78.1.0
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.1.1
XlsxWriter==3.2.2
selenium==4.29.0
torch==2.2.0+cpu
torchvision==0.17.0+cpu
torchaudio==2.2.0+cpu
soundfile==0.12.1
omegaconf==2.3.0
numpy==1.26.4
pytest==8.3.5
pytest-django==4.8.0
pydantic==2.11.3
pydantic_core==2.33.1
openai-whisper==20240930
