{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div class="home-container">
    {% if user.is_authenticated %}
    <div class="main-content">
        <div class="left-section">
            <form action="{% url 'web-protection' %}">
                <input type="submit" id="start-protection-btn" class="start-protection-btn" value="На страницу защиты"></input>
            </form>
        </div>

        <div class="right-section">
            <div class="results-panel">
                <h3 style="font-size: 1.5rem">Последние результаты</h3>
                <table class="results-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Дата</th>
                            <th style="text-align: right;">Оценка</th>
                        </tr>
                    </thead>
                    <tbody id="results-body">
                    </tbody>
                </table>
            </div>
            <div class="speakers-demo">
                <h3 style="font-size: 1.5rem; margin-bottom: 15px;">Демо спикеров</h3>
                <div class="speakers-container">
                    <div id="speakers-loader" class="loader-container">
                        <div class="speakers-loader">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <p class="loader-text">Загружаем голоса...</p>
                    </div>
                    <div id="speakers-list" style="display: none;"></div>
                </div>
                <audio id="speaker-audio-player"></audio>
            </div>
        </div>
    </div>
    {% else %}
    <div class="auth-container">
         <a href="/login" class="btn login-btn">Войти</a>
    </div>
    {% endif %}
</div>

<div id="error-message" class="error" style="display: none;">
    <p></p>
</div>

{% if user.is_authenticated %}
    <script src="{% static 'js/home.js' %}"></script>
{% endif %}
{% endblock %}