{% extends 'base.html' %}
{% load static %}

{% block title %}Ответ на вопросы{% endblock %}

{% block styles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/answer.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
    <div class="main-content">
        <div class="questions-block">
            <template id="question-template">
                <div class="generated-question">
                    <div class="horizontal-row centered-content">
                        <button class="play-audio-btn">🔊 Слушать</button>
                        <audio id="speaker-audio-player"></audio>
                    </div>

                    <div class="horizontal-row centered-content">
                        <div class="question-toggle">🔽 Посмотреть текст вопроса</div>
                    </div>

                    <div class="question-text hidden centered-content">Текст вопроса...</div>

                    <div class="horizontal-row centered-content">
                        <button class="start-record-btn">🎤 Начать запись</button>
                        <button class="stop-record-btn" style="display: none;">⏹️ Остановить</button>
                    </div>

                    <div class="recording-indicator centered-content" style="display: none;">
                        Идет запись...
                    </div>
                </div>
            </template>

            <div class="audio-review-block centered-content" style="display: none;">
                <audio controls class="recorded-answer-player"></audio>
                <button class="finish-defense-btn">🏁 Завершить защиту</button>
            </div>

        </div>
    </div>

    <div id="error-message" class="error centered-content" style="display: none;">
        <p></p>
    </div>
</div>

<script>
    const questions = {{ questions|safe }};
    const speakerInfo = {{ speakerInfo|safe }};
</script>
<script src="{% static 'js/answer.js' %}"></script>

{% endblock %}