<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/user.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
    <div class="top-menu">
        <div class='burger'>
            <button class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-list">
                <li><a href="/" class="header-link">На главную</a></li>
                <li><a href="/profile" class="header-link">Личный кабинет</a></li>
            </ul>
        </div>
        <div class="flex-container" id='homepage-container'>
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="flex-container" id='account-container'>
            <a href="/profile">
                Личный кабинет
            </a>
            <a href="/profile">
                <img src="{% static 'images/account.png' %}" alt="Account" class="square-images">
            </a>
        </div>
    </div>
    {% block content %}
        <div class="container">
            <div class="form-box">
                <form method="post" action="/api/users/login">
                    <input type="text" name="username" placeholder="Логин" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <button type="submit" class="btn">Войти</button>
                </form>
            </div>
        </div>
        <div class="horizontal-line">
            <span class="simple-text">или</span>
        </div>
        <div>
            <a href="/register" class="link"><span>Зарегистрироваться</span></a>
        </div>
        {% if error_message %}
            <div class="error">
                <p> {{ error_message }} </p>
            </div>
        {% endif %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>