<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Регистрация</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/user_manager.css' %}">
</head>
<body>
    <div class="top-menu">
        <div class="flex-container" id="homepage-container">
            <a href="/">
                <img src="{% static 'images/homepage.png' %}" alt="Homepage" class="square-images">
            </a>
            <a href="/">
                На главную
            </a>
        </div>
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
        <div class="flex-container" id="account-container">
            <a href="/profile">
                Личный кабинет
            </a>
            <a href="/profile">
                <img src="{% static 'images/account.png' %}" alt="Account" class="square-images">
            </a>
        </div>
        <a href="/burger_menu" class="burger-menu-button">
                burger
        </a>
    </div>
    <div class="container" id="form-box-container">
        <div class="form-box">
            <form method="post" action="/api/users/register">
                <input type="text" name="username" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit" class="btn">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <div class="horizontal-line">
        <span class="simple-text">или</span>
    </div>
    <div id="last-button-div">
        <a href="/login" class="link"><span>Войти</span></a>
    </div>
    {% if error_message %}
        <div class="error">
            <p> {{ error_message }} </p>
        </div>
    {% endif %}
</body>
</html>
