{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<div>
     <div class="top-info">
         <div>
             <p class="top-info-username">Имя Пользователя</p>
             <h2>{{ user.username }}</h2>
         </div>
     </div>
     <h2>Таблица результатов</h2>
    <table class="results-table">
        <thead>
            <tr>
                <th style="text-align: left;">Запись</th>
                <th style="text-align: center;">Дата</th>
                <th style="text-align: right;">Оценка</th>
            </tr>
        </thead>
        <tbody id="results-body">
        </tbody>
    </table>
</div>

{% if user.is_authenticated %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endif %}

{% endblock %}
