{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block styles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="form-box-container">
    <div class="form-box">
        <form id="register-form">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Логин" required>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
    </div>
</div>
<div class="horizontal-line">
    <span class="simple-text">или</span>
</div>
<div id="last-button-div">
    <a href="/login" class="link"><span>Войти</span></a>
</div>
<div id="error-message" class="error" style="display: none;">
    <p></p>
</div>

<script>
    document.getElementById('register-form').addEventListener('submit', async function(event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const csrfToken = getCookie('csrftoken');

        try {
            const response = await fetch('/api/users/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ username, password }),
                credentials: 'include'
            });

            if (response.status === 403) {
                window.location.reload();
                return;
            }

            if (!response.ok) {
                const data = await response.json();
                const errorDiv = document.getElementById('error-message');
                errorDiv.style.display = 'block';
                errorDiv.querySelector('p').textContent = data.error || 'Ошибка регистрации';
            } else {
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Ошибка:', error);
            const errorDiv = document.getElementById('error-message');
            errorDiv.style.display = 'block';
            errorDiv.querySelector('p').textContent = 'Сетевая ошибка';
        }
    });
</script>
{% endblock %}